body
{

background-image:url("imag/imagecv.jpg");
background-repeat:no-repeat;
background-size:cover;

}
.box
{

margin:0 200px 0 200px;
}
img
{
margin-left: 150px;
display: block;
margin: auto;
border-radius: 20px;
overflow:inherit;

}
h1
{
text-align: center;
font-size: 50px;
font-style: italic;
}
div
{
font-style:italic;
}
#profil
{
border-style: groove;
background-color: grey;
float: right;
border: 2px solid yellow;
width:30%; 
border-radius: 30px;
display: block;


}


